# see https://developers.cloudflare.com/workers/wrangler/configuration/
# for a full reference on the options available in this file.

name = "tfstate-backend-r2"
main = "build/worker/shim.mjs"
compatibility_date = "2023-03-22"
workers_dev = false

# deployment configuration
account_id = <ID>
# you could also use custom domains instead
route = { pattern = "<DOMAIN>/*", zone_id = "<ZONE_ID>" }
# the bucket where state will be stored
r2_buckets  = [
  { binding = "tfstate-bucket", bucket_name = "<BUCKET_NAME>"}
]
durable_objects.bindings = [
  { name = "tfstate-lock", class_name = "TFStateLock" }
]

[[migrations]]
tag = "v1"
new_classes = ["TFStateLock"]

[build]
command = "cargo install -q worker-build && worker-build --release"
